<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">

  <header class="mb-5">
    <h1 class="display-4">Hi, I’m Julio</h1>
    <p class="lead">Aspiring Computer Scientist |Python Dev </p>
  </header>

  <main>
    <h2>About Me</h2>
    <p>Welcome to my portfolio website! Here you'll find information about my projects, skills, and interests.</p>

    <a href="/project" class="btn btn-primary mt-3">See my projects</a>
  </main>

  <footer class="mt-5">
    <p class="text-muted">© 2025 Julio Paulo Cassinda</p>
  </footer>

</body>
</html>
